@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('~assets/fonts/MPLUSRounded1c-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS 1p';
  src: url('~assets/fonts/MPLUS1p-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Initial states */
.start-at-left {
  transform: translateX(-50%); /* Adjusted from -100% */
  opacity: 0;
  /* animation: slide-right 5s forwards; */
  transition: 3s;
}

.start-at-right {
  transform: translateX(50%); /* Adjusted from 100% */
  opacity: 0;
  /* animation: slide-left 5s forwards; */
  transition: 3s;
}

.start-at-bottom {
  transform: translateY(50%);
  opacity: 0;
  transition: 3s;
}

/* Animated states */
.slide-to-right {
  transform: translateX(0);
  opacity: 100;
}

.slide-to-left {
  transform: translateX(0);
  opacity: 100;
}

.slide-up {
  transform: translateY(0);
  opacity: 100;
}
